@import "tailwindcss";

:root {
  --background: #f9f9ff;
  --foreground: #171717;
}

@theme {
  --animate-down: down 5s ease-in-out forwards;

  @keyframes down {
    0% {
      transform: translateY(0px)
    }
    100% {
      transform: translateY(480px)
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
